* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styling */

.navbar {
    box-shadow: 0 4px 6px rgba(0,0,0, 0.1);
}
.nav-link {
    color: #004DF5 !important;
    transition: 0.3s ease-in;
}

.nav-link:hover {
    color: #041F74 !important;
}

.navbar-brand img {
    max-height: 40px;
}
/* Einde Navbar styling */

.body
{
    background-color: #3dbb56
}

.table
{
    text-align: center;
  border: 3px solid green;
}

