<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Correct - Geen Toegang</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/noaccess.css">
    <link rel="icon" href="https://welcome.test-correct.nl/img/icons/Logo-Test-Correct-recolored-icon-only.svg" type="image/svg+xml">
</head>
<body>
    <div class="center">
        <div class="header">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="logo">
        </div>
        <span class="no-access">GEEN TOEGANG</span>
        <p class="message">U heeft geen toegang tot deze pagina</p>
        <a class="button" href="{{ url_for('login') }}">
            Keer terug naar login
        </a>

    </div>
</body>
</html>
